
/* Body */
body {
margin: 0;
padding: 0;
}

/* Navigation */
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
nav ul li {
	float: left;
	font-size: 15px;
	text-align: left;
	margin-right: 25px;
	font-weight: bold;
	font-family: 'sanchez-regular';
	text-transform: uppercase;
	list-style-type:none;
	display: block;
}
ul li a {
	color: #B3B3B3;
	text-decoration: none;
	
}
ul li:hover a {
	color: #000000;
}

 /*titre*/

.titre {
	text-align: center;
	background-color:#001840;
	color: #fff;
	padding: 1px;
    margin: 40px 0px 36px 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-transform: uppercase;
}

/*bouton general*/
.bouton {
	float: right;
	margin: -94px 25px 0px 0px;
	
}

/*bouton edition */

.bouton1 a{
 text-decoration: none;
color:#FFFFFF;
}

.bouton1 a:hover{
	background-color: #FFFFFF;
	color: #001840;
	border-radius: 3px;
}

.bouton1 {
	text-align: center;
	padding:6px 0 6px 0;
	font: bold 15px Arial;
	background:#001840;
	border-radius:5px;
	width:200px;
	border:none;
	text-transform: uppercase;
	border: 1px solid white;
    
}
/*bouton abonnement*/

.bouton2 a:hover{
	background-color: #001840;
	color: #FFFFFF;
	border-radius: 3px;
}

.bouton2 {
	text-align: center;
	padding:6px 0 6px 0;
	font: bold 15px Arial;
	background:#ffed00;
	border-radius:5px;
	width:200px;
	border:none;
	text-transform: uppercase;
}

.bouton2 a{
 text-decoration: none;
color:#001840;
}


/*different acticle*/



.ad1 {
	width: 19%;
	margin: 1%;
	display: inline-block;
	float: left;
}

.ad2 {
	width: 45%;
	margin: 14px 0px 0px 70px;
	display: inline-block;
	background-image: url("image/maxmatinarch488119.jpg" );
    height: 500px;
	
}
.ad3 {
width: 24%;
margin: 1%;
display: inline-block;
float: right;

}

.nm_hp_top_title {
font-size: 14px;
font-family: 'ssp-semib';
color: #1a171b;
line-height: 18px;
padding: 10px 10px 18px;
display: block;
}

h3{
font-size: 18px;
line-height: 20px;
color: #000;
font-family: 'sspb';
text-transform: uppercase;
padding-top: 20px;
position: relative;
margin: -50px 0px 10px 10px;

	
}

h2{
	font-size: 14px;
    font-family: 'ssp-semib';
    color: #1a171b;
    line-height: 18px;
    padding: 10px 10px 18px;
    display: block;
	box-shadow: 0px 5px 5px #B3B3B3;

	
}
.sub_header {
color: #000;
line-height: 20px;
background: #ffed00;
font-size: 14px;
font-family: 'ssp-semib';

display: inline-block;
bottom: -8px;
text-align: center;
width: 100px;
left: calc(50% - 50px);
padding: 1px 5px;
text-transform: uppercase;
margin: 0px 122px 0px 122px;
}


a{
text-decoration: none;
color: inherit;
font-size: inherit;
font-family: inherit;
	
	
}
h4 {
	font-size: 28px;
    font-family: 'ssp-semib';
    color: #1a171b;
    padding: 16px 73px 1px;
    display: block;
    box-shadow: 0px 5px 5px #B3B3B3;
    text-align: center;
    background-color: #fff;
	margin: 465px 80px 0px 80px;
	
}



p {
	margin: -47px 0px 19px 50px;
    font-size: 20px;
    color: blue;
   
    text-transform: uppercase;
}



.nm_hp_top_title {
    font-size: 14px;
    font-family: 'ssp-semib';
    color: #1a171b;
    line-height: 18px;
    padding: 10px 10px 18px;
    display: block;
    margin: 0px -31px 15px 0px;
    text-align: center;
}





.test {
	background-image: url("image/aide-humanitaire-1.jpg");
	height: 390px;
}


h5 {
	font-size: 19px;
	color: #147ECF;
    font-family: 'ssp-semib';
    padding: 16px 73px 1px;
    display: block;
    box-shadow: 0px 5px 5px #B3B3B3;
    text-align: center;
    background-color: #fff;
	margin: 320px 76px 10px 81px;
	float: right;
}



.ob-rec-text {
	text-align: center;
}

.ob-rec-image {
	margin: 0px 0px 0px 240px;
	 box-shadow: 0px 5px 5px #B3B3B3;
}

.ob-unit {
	margin: -55px 139px 39px -8px;
    float: right;
    text-align: center;
    font-size: 14px;
	 box-shadow: 0px 5px 5px #B3B3B3;
}
